<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head')%>
</head>
<body>
  <%- include('../partials/navigation')%>
  
  <div id="page-container" class="container">
    <div class="row">
      <div class="col-xs-12" id="infotext">
        <p>Moikku</p>
      </div>
    </div>
  </div>

  <%- include('../partials/footer')%>
</body>
</html>